.rooms {
}

.filterBtn {
  border: 2px solid rgb(255, 72, 5);
  background-color: #1f1f29;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 35px;
  border-radius: 4px;
  color: orangered;
}

.filterBtn img {
  width: 25px;
}

/* room_container */
.room_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.create_room {
  background-color: var(--primary_color);
  height: 35px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.filter_icon {
  fill: rgb(255, 72, 5);
}
